$blueDark: #046582;
$blueLight: #8AC4D0;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recipes {
    .recipes-title {
        align-items: center;
        background-color: $blueLight;
        color: white;
        display: flex;
        justify-content: center;
        padding: 10px 0 10px;
        text-transform: uppercase;
    }
    img {
        border-radius: 5px;
        display: flex;
        height: 200px;
        margin: 0px 15px 15px 0px;
        object-fit: cover;
        width: auto; 
    }
}

hr {
    border: none;
    height: 1px;
    background-color: $blueLight;
    margin: 15px 0 10px 0; 
    width: 50%;
}