@import '../../styles/colors';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    align-items: center;
    background-color: $blueDark;
    bottom:0px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    .footer-logo {
        width: 120px;
        height: 60px;
    }
    .footer-text {
        width: 50%;
        &__title {
            font-size: 14px;
            text-transform: uppercase;
        }
        &__phrase {
            font-size: 10px;
        }
    }
}