$blueDark: #046582;
$blueLight: #8AC4D0;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    .cart-title {
        list-style-type: none;
        align-items: center;
        background-color: $blueLight;
        color: white;
        display: flex;

        justify-content: center;
        padding: 10px 0 10px;
        text-transform: uppercase;
    }
    .cart-section {
        margin: 0px 15px 0px 15px;
        .cart-section__list {
            list-style-type:none
        }
        .list-info__elements {
            display: flex;
            .list-info__elements-letters {
                color: $blueLight;
        
                font-size: 14px; 
                margin-right: 20px;
            }
            .list-info__elements-button {
                display: flex;
                justify-content: space-between;
                width: 45px;
                .elements-button__sum{
                    align-items: center;
                    background-color: $blueLight;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    font-size: 20px;
                    height: 20px;
                    justify-content: center;
                    width: 20px;
                    &:hover {
                        cursor:  url(https://cur.cursors-4u.net/nature/nat-7/nat675.cur), auto !important;
                    }
                }
                .elements-button__res {
                    align-items: center;
                    background-color: $blueLight;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    font-size: 20px;
                    height: 20px;
                    justify-content: center;
                    width: 20px;
                    &:hover {
                        cursor:  url(https://cur.cursors-4u.net/nature/nat-7/nat675.cur), auto !important;
                    }
                }
            }
        }
    }
    .cart-section-empty {
        align-items: center;
        display: flex;
        color: $blueLight;

        font-size: 18px; 
        margin: 15px 5px 15px 5px;
        text-transform: uppercase;
        justify-content: space-around;
    }
    .list-info__elements-delete {
        align-items: center;
        background-color: #F39189;
        border: none;
        border-radius: 5px;
        color: white;
        display: flex;
        font-size: 12px;
        height: 20px;
        margin-left: 10px;
        justify-content: center;
        width: 70px;
        &:hover {
            cursor:  url(https://cur.cursors-4u.net/nature/nat-7/nat675.cur), auto !important;
        }
    }
    .section-button {
        color: white;
        background-color: $blueLight;
        border: none;
        border-radius: 5px;
        margin: 15px 15px 15px 15px;
        padding: 1% 5% 1% 5%;

        text-transform: uppercase;
        &:hover {
            cursor:  url(https://cur.cursors-4u.net/nature/nat-7/nat675.cur), auto !important;
        }
    }
    img {
        border: 3px solid;
        border-color: $blueLight;
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
        height: 200px;
        margin: 15px 0px 15px 0px;
    }
    .cart-title__totalPrice {
        align-items: center;
        background-color: $blueLight;
        border-radius: 5px;
        color: white;
        display: flex;

        font-size: 18px; 
        justify-content: center;
        margin: 15px;
        text-transform: uppercase;
        padding: 5px;
    }
    .cart-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
    }
}

.notes {
    margin-left: 10px;
    color:#8AC4D0;
    font-size: 10px;
}