$blueDark: #046582;
$blueLight: #8AC4D0;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    .header-login {
        align-items: center;
        background-color: $blueDark;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        text-transform: lowercase;
        &__info {
            display: flex;
            flex-direction: row;
            font-size: 8px;
        }
        &__info-email {
            margin-left: 20px;
        }
        &__login {
            color: white;
            margin-left: 1em;
            text-decoration: none;
        }
    }
    .header-nav {
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
        &__start {
            color: $blueLight;
            text-decoration: none;
            font-size: 10px;
        }
        &__recipes {
            color: $blueLight;
            text-decoration: none;
            font-size: 10px;
        }
        &__contact {
            color: $blueLight;
            text-decoration: none;
            font-size: 10px;
        }
        &__logo {
            width: 160px;
        }
        &__cart {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $blueLight;
            border-radius: 5px;
            padding: 1%;
            width: 35px;
            height: 35px;
        }
        &__cart-img {
            padding-left: 5px;
            width: 80%;
        }
        &__cart-length {
            padding-right: 5px;
        }
        &__cart-length {
            color: white;
        }
    }
}
a {
    text-decoration: none;
}




